extends ../layout

block content
    include ../mixins/reviewPanel
    div.product-profile.content
        div.product-header
            h1.product-name= product.product_name
            div.product-actions
                a.button.primary(href=`/products/edit/${product.id}`) Edit
                a.button.danger(href=`/products/delete/${product.id}`) Delete
        div Rating: #{product.rating}
        p.products-description= product.description
        div
            a(href='/products') Back To Products
        div.reviews
            h3.reviews-header=`${product.reviews.length} Reviews`
            a(href=`/products/${product.id}/review/add`) Add Review

            each review in product.reviews
                +reviewPanel(review)