extends ../layout

block content
    include ../mixins/reviewPanel
    h1= product.product_name
    div Rating: 5
    div
        a(href=`/products/edit/${product.id}`) Edit
        a(href=`/products/delete/${product.id}`) Delete
    p= product.description
    a(href='/products') Back To Products

    h3= `${product.reviews.length} Reviews`
    div.reviews
        each review in product.reviews
            +reviewPanel(review)